body {
    margin: 0
}
.auth-main:after {
  background-size: 100% 100%;
}
.auth-main::before {
    background-color:#eef6ff;
}
.btn.btn-primary { 
    background-color: #279EFF;
    border-color:#279EFF;
}
.auth-box .helper-text { 
    text-align: left;
    text-decoration: none;
}
.auth-box .helper-text a{color:#d8e4fc;  }
.login-right-panel {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: flex-end; 
}

.info-box {
    background: #0c3569;
    color: #ffffff;
    border-radius: 10px;
    height: auto;
    width: 30%;
    margin-right: 8%;
}

.info-box h1 {
    font-size: 28px;
}

.info-box p {
    font-size: 16px;

}

.info-box span {
    color: #279dff;
}

.info-box .btn-primary {
    border-radius: 8px;
    height: 30px;
    font-size: 16px;
}
.copyright {
    left:0;
    right:0;
    position:absolute;
    bottom:0;
    color: #7384a2;
    font-size: 11px;
}
.copyrText {
    padding-left: 120px;
    width: 100%;
    padding-bottom: 10px;
}
.sidebar .nav-tabs .nav-link.active, .sidebar .nav-tabs .nav-link:hover, .sidebar .nav-tabs .nav-link:focus {
    color: #0080FF;
}
.sidebar-nav .metismenu>li.active>a { 
    color: #0080FF;
}
.sidebar-nav .metismenu>li.active { 
    color: #0080FF;
    border-color: #0080FF;
}
.sidebar-nav .metismenu ul a { color: #0080FF; }
.sidebar-nav .metismenu>li .active>a { font-weight: bolder;}

.left-sidebar { position: relative;}
.navbar-brand { display: hide;}
.sidebar__close  {
    background-image: url('../../assets/images/Rectangle.svg');
    position: absolute;
    top: 110px;
    left: 0; 
    cursor: pointer;
}
.societyDropdown {
    position: relative;
    top:-45px;
    border-radius: 40px;
}
.navbar-fixed-top .navbar-brand img {
    width: 300px;
 }
 .block-header h2 {
    color: #191970;
    font-weight: bold;
 }
 .dashboard-container {
    margin-top: -42px;
    right: 40px;
 }
 .navbar-fixed-top {
    background-size: 100% 100%;    
    background: url('/src/asset/images/NormalBG_.png') no-repeat top right fixed;  
    height: 170px;
 } 
 #main-content {
    background-color: #eef6ff;
 }
 .dashboard-row {
    padding-top: 55px;
 }
 .nav-tabs-new>li>a { 
    color: #475d82;
    background: #d0e0fa;
 }
 .nav-tabs-new>li>a.active {
    border: 1px solid #0080FF !important;
    background: #0080FF;
    color: var(--font-white);
 }

 .nav-tabs-new>li>a:hover {
    border: 1px solid #0080FF !important;
    background: #0080FF;
    color: var(--font-white);
 }
 

 
@media(max-width: 992px) {
    .login-right-panel {
        display: none;
    }
}